<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Icon fontanwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Reset css & grid sytem -->
    <link rel="stylesheet" href="/assets/css/library.css">
    <!-- Owl Slider css -->
    <link rel="stylesheet" href="/assets/owlCarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/owlCarousel/assets/owl.theme.default.min.css">
    <!-- Layout -->
    <link rel="stylesheet" href="/assets/css/common.css">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="/assets/css/cart.css">
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Owl caroucel Js-->
    <script src="assets/owlCarousel/owl.carousel.min.js"></script> -->
</head>
<body>
<header th:replace="~{Guest/fragments/header::header}"></header>

<div class="main">
    <div class="grid wide">
        <h1 style="font-size: 499px;">error</h1>
    </div>
</div>


<footer th:replace="~{Guest/fragments/footer::footer}"></footer>
</body>